In [43]:
import pandas as pd
import plotly.express as px

In [44]:
data = pd.read_csv('data/GGIs_2005_2020_old_1.csv')

In [45]:
ISOs = ['TKM', 'KAZ', 'KGZ', 'TJK', 'UZB']

In [81]:
 data[data.ISO.isin(ISOs)][['ISO', 'IncomeLevel']].drop_duplicates()

        ISO          IncomeLevel
111972  KAZ  Upper middle income
116779  KGZ  Lower middle income
212163  TJK           Low income
223089  TKM  Upper middle income
233238  UZB  Lower middle income

In [68]:
custom_country = data[data.ISO.isin(ISOs)].groupby(['Aggregation', 'Year', 'Variable', 'Continent', 'UNregion', 'Region']).mean().reset_index()

In [77]:
data.IncomeLevel.unique()

array(['Low income', 'Upper middle income', 'Lower middle income',
       'High income'], dtype=object)

In [72]:
custom_country['ISO'] = 'CUSTOM'
custom_country['IncomeLevel'] = 'middle income'
custom_country['Country'] = 'Kazakhstan, Kyrgyz Republic, Tajikistan, Turkmenistan, Uzbekistan'

In [75]:
pd.concat([custom_country, data])

,Aggregation,Year,Variable,Continent,UNregion,Region,Value,ISO,Country,IncomeLevel
0,Category,2005.0,AB,Asia,Central Asia,Europe & Central Asia,46.370,CUSTOM,"Kazakhstan, Kyrgyz Republic, Tajikistan, Turkm...",middle income
1,Category,2005.0,BE,Asia,Central Asia,Europe & Central Asia,20.430,CUSTOM,"Kazakhstan, Kyrgyz Republic, Tajikistan, Turkm...",middle income
2,Category,2005.0,EE,Asia,Central Asia,Europe & Central Asia,34.108,CUSTOM,"Kazakhstan, Kyrgyz Republic, Tajikistan, Turkm...",middle income
3,Category,2005.0,EQ,Asia,Central Asia,Europe & Central Asia,85.918,CUSTOM,"Kazakhstan, Kyrgyz Republic, Tajikistan, Turkm...",middle income
4,Category,2005.0,EW,Asia,Central Asia,Europe & Central Asia,13.852,CUSTOM,"Kazakhstan, Kyrgyz Republic, Tajikistan, Turkm...",middle income
...,...,...,...,...,...,...,...,...,...,...
241656,Category,2020.0,SP,Africa,Eastern Africa,Sub-Saharan Africa,42.030,ZWE,Zimbabwe,Lower middle income
241657,Dimension,2020.0,SI,Africa,Eastern Africa,Sub-Saharan Africa,41.810,ZWE,Zimbabwe,Lower middle income
241658,Dimension,2020.0,NCP,Africa,Eastern Africa,Sub-Saharan Africa,78.120,ZWE,Zimbabwe,Lower middle income
241659,Dimension,2020.0,ESRU,Africa,Eastern Africa,Sub-Saharan Africa,30.700,ZWE,Zimbabwe,Lower middle income
241660,Dimension,2020.0,GEO,Africa,Eastern Africa,Sub-Saharan Africa,8.980,ZWE,Zimbabwe,Lower middle income